* {
  margin: 0;
  font-family: 'Prompt', Arial, Helvetica, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-btn > .fa-icon + span {
  margin-left: 4px;
}
